<div class="centering">  
    <a class="nav-link " href="#">Online Shopping</a>
    <form class="container border border-primary rounded p-3">
      <h1>OTP Verification</h1>
        <div class="mb-3">
          <label class="form-label">Enter OTP</label>
          <input type="text" class="form-control" >
        </div>
        
        
        <input type="submit" value="Submit" routerLink="/New Password">
        <div class="login">
          <a routerLink="/Forgot Password">Change Email</a>
        </div>
    </form>
  </div>
  
  <footer class="footer bg-primary">
    Footer
  </footer>
  
