<div class="container pb-5 mb-2">
    <div class="comparison-table">
        <table class="table table-bordered">
            <thead class="bg-secondary">
                <tr>
                    <td class="align-middle">
                       <h3 style="font-family:inherit;">COMPARE PRODUCTS WITH DESIRED BRANDS</h3>
                      
                    </td>
                    <td>
                      <div class="card">
                        <div class="card-img-wrapper">
                           <img class="card-img-top" src="assets\Images\Carousel\jack.jpg" >
                        </div>                    
                    </div>         
                    </td>
                    <td>
                      <div class="card">
                        <div class="card-img-wrapper">
                           <img class="card-img-top" src="assets\Images\Carousel\jack.jpg" >
                        </div>                    
                    </div> 
                    </td>
                    <td>
                      <div class="card">
                        <div class="card-img-wrapper">
                           <img class="card-img-top" src="assets\Images\Carousel\jack.jpg" >
                        </div>                    
                    </div> 
                    </td>
                </tr>
            </thead>
            <tbody id="summary" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Summary</th>
                    
                      <td class="align-middle">
                        <select class="form-control custom-select" id="compare-criteria" data-filter="trigger">
                            <option value="all">Choose Brand *</option>
                            <option value="summary">Summary</option>
                            <option value="general">General</option>
                            <option value="multimedia">Multimedia</option>
                            <option value="performance">Performance</option>
                            <option value="design">Design</option>
                            <option value="display">Display</option>
                            <option value="storage">Storage</option>
                            <option value="camera">Camera</option>
                            <option value="battery">Battery</option>
                            <option value="price">Price &amp; rating</option>
                            </select>
                        </td>
                        <td class="align-middle">
                          <select class="form-control custom-select" id="compare-criteria" data-filter="trigger">
                              <option value="all">Choose Brand *</option>
                              <option value="summary">Summary</option>
                              <option value="general">General</option>
                              <option value="multimedia">Multimedia</option>
                              <option value="performance">Performance</option>
                              <option value="design">Design</option>
                              <option value="display">Display</option>
                              <option value="storage">Storage</option>
                              <option value="camera">Camera</option>
                              <option value="battery">Battery</option>
                              <option value="price">Price &amp; rating</option>
                              </select>
                          </td>
                          <td class="align-middle">
                            <select class="form-control custom-select" id="compare-criteria" data-filter="trigger">
                                <option value="all">Choose Brand *</option>
                                <option value="summary">Summary</option>
                                <option value="general">General</option>
                                <option value="multimedia">Multimedia</option>
                                <option value="performance">Performance</option>
                                <option value="design">Design</option>
                                <option value="display">Display</option>
                                <option value="storage">Storage</option>
                                <option value="camera">Camera</option>
                                <option value="battery">Battery</option>
                                <option value="price">Price &amp; rating</option>
                                </select>
                            </td>
                </tr>
                <tr>
                    <th>Product Name</th>
                    <td>Hexa Core</td>
                    <td>Octa Core</td>
                    <td>Octa Core</td>
                </tr>
                <tr>
                    <th>Product Price</th>
                    <td>11</td>
                    <td>1222</td>
                    <td>111</td>
                </tr>
                <tr>
                  <th>Product Brand</th>
                  <td>Addidas</td>
                  <td>Nike</td>
                  <td>Nike</td>
              </tr>
                <tr>
                    <th>Product Description</th>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, qui. Illo maxime facere itaque ab, esse sequi recusandae aliquid autem, dicta vitae suscipit minima praesentium molestiae harum sed veritatis consequatur.</td>
                    <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut vitae officiis ea nobis? Eaque possimus facere sint doloremque sunt, mollitia, veniam laboriosam incidunt aperiam modi dolores debitis maiores minus dolor.</td>
                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, minus. Nam perferendis voluptate rem id ullam atque est temporibus porro consequuntur, accusantium officia voluptatem praesentium nostrum pariatur modi unde. Incidunt?</td>
                </tr>
                <tr>
                    <th>Seller details</th>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod sed maiores doloribus natus accusantium illum eligendi quibusdam laborum minus, labore deleniti earum qui accusamus molestiae dolores? Optio, hic ea!</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quaerat quae vero quibusdam, quod molestias pariatur soluta sunt, sed cupiditate consequatur, veritatis repellat? Praesentium, harum provident eius pariatur officiis magni.</td>
                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ipsum repellat quas, fugiat, at ea perspiciatis aperiam nobis sit, ducimus quisquam facere? Minima voluptate sequi quaerat a, eum eveniet obcaecati!</td>
                </tr>
                
            </tbody>
        </table>
    </div>
  </div>
  <button class="btn btn-primary" style="margin-left: 600px;margin-top: -100px;">CONTINUE SHOPPING!!</button>
