<div class="centering">  
    <a class="nav-link " href="#">Online Shopping</a>
    <form class="container border border-primary rounded p-3">
      <h1>Create New Password</h1>
      <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Email Address</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>        
        
        <input type="submit" value="Submit" routerLink=""data-toggle="modal" data-target="#exampleModalScrollable" >
   
    </form>
  </div>
  
  <footer class="footer bg-primary">
    Footer
  </footer>
