/* Modify the background color */

.Search{
    width:600px;
    margin-right: auto;
    margin-left: 35px;
}

.pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 35px;
    border : 1px solid;
    border-radius: 25px;
    color: white;
    background-color: #2691d9;
    font-weight: 700;
    cursor: pointer; 
}
input[type="submit"]:hover{
   border-color: #2691d9;
   transition: .5s;
}
.register{
    text-align: center;
    margin: 30px 0;
    color: #666666;
}
.register a{
    text-decoration: none;
    color:  #2691d9;
}
.register a:hover{
    text-decoration: underline;
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    color: white;
    text-align: center;
 }
 .modal-dialog {
    height: 74% ;
    padding-top:5%;
  }
  
  .modal-content {
    height: 100%;
    
  }
  
  .modal-body {
    height: 76%;
   
  }
  .register, .retailer{
    text-align: center;
    margin: 10px 0;
    color: #666666;
}
.register a, .retailer a{
    text-decoration: none;
    color:  #2691d9;
}
.register a:hover, .retailer a:hover{
    text-decoration: underline;
}






